

html, body {
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    height: auto;
    min-height: 100vh; 
    width: 100%;
    overflow: hidden;
}


/* --------------------------------------------------------------*/ 

.Box-style-home-category {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 0.5em;
    align-items: center;
    width: 80%;
    height: auto;
    max-height: 90%;
    position: relative;
    border-radius: 0.3em;
    padding: 0.4em 0.4em;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.Box-style-home-category-select {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    justify-items: center;
    align-items: center;
    width: 50em;
    height: auto;
    min-height: 30em;
    border-radius: 0.15em;
    margin-bottom: 5em;
    opacity: 1;
    overflow: hidden;
}

.Box-style-home-dimension-select {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    justify-items: center;
    align-items: center;
    width: 50em;
    height: auto;
    min-height: 30em;
    border-radius: 0.15em;
    margin-bottom: 5em;
    opacity: 1;
    overflow: hidden;
}


.box-background {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 45% 30%;
    width: 100%;
    height: 100%;
    background-color: #ba0017;
    overflow: hidden;
}

.box-home-category-select {
    display: grid;
    justify-self: flex-end;
    grid-auto-rows: 6.2em;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-home-category-select > div {
    width: 100%;
}

.box-home-category-select > div:nth-child(3), 
.box-home-category-select > div:nth-child(4), 
.box-home-category-select > div:nth-child(2) {
    margin-top: -1.5em;
    display: grid;
    justify-self: center;
}

.box-home-category-select > div:nth-child(4), 
.box-home-category-select > div:nth-child(3) {
    margin-top: -2.5em;
}

.box-home-category-select > div:nth-child(4) {
    margin-top: -2.7em;
}

.box-home-category-select > div img {
    width: 100%;
    object-fit: cover;
}

.box-home-category-select > div:nth-child(4) img, 
.box-home-category-select > div:nth-child(3) img,
.box-home-category-select > div:nth-child(2) img {
    display: grid;
    justify-self: center;
    width: 90%;
}

.box-home-category-select > div:nth-child(4) img, 
.box-home-category-select > div:nth-child(3) img {
    width: 95%;
}

header.header {
    width: 100%;
    height: 100%;
    background-color: #ba0017;
    border: #ba0017 solid;
}

header.header img {
    width: 100%;
    object-fit: cover;
}

footer.footer {
    display: grid;
    /* place-content: flex-end; */
    height: 100%;
    width: 100%;
    background-color: #fff2d5;
}

footer.footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.personas-caja,
div.letrero-caja {
    display: grid;
    place-content: flex-end;
    width: 100%;
}

div.letrero-caja img {
    width: 80%;
    object-fit: cover;
}

div.personas-caja {
    margin-top: 1em;
    height: 100%;
    z-index: 2;
}

div.personas-caja img {
    width: 80%;
    object-fit: cover;
}
 

/* -------------------------------------------------------------- */

@media screen and (max-width: 1100px) {
    .Box-style-home-category-select {
        margin-bottom: 15em;
    }
}

@media screen and (max-width: 900px) {
    .Box-style-home-category {
        width: 90%;
        min-height: 60em;
    } 
    .box-home-category-select {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .Box-style-home-category {
        width: 90%;
        min-height: 36em;
    }
    .Box-style-home-category-select {
        width: 100%;
        height: auto;
        border-radius: 0.15em;
        margin-bottom: 6em;
    }

}